@font-face {
  font-family: "DiodrumSemiBold";
  src: url("assets/fonts/Diodrum\ W03\ Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "DiodrumSemiRegular";
  src: url("assets/fonts/Diodrum\ W03\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "museo700";
  src: url("assets/fonts/Museo\ 700.otf") format("opentype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: white;
  background: linear-gradient(
    to right,
    black 0%,
    #202020 75%,
    #3b3b3b 97%,
    #706f6f 100%
  );
  margin: 0;
}

nav ul,
nav ol,
nav li {
  list-style-image: none;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "DiodrumSemiBold", "museo700", Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  color: white;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
}

h4 {
  font-size: 24px;
  margin: 0.33em 0;
  font-weight: normal;
  word-wrap: break-word;
}

.header {
  display: block;
  width: 100%;
  float: left;
  z-index: 400;
  position: relative;
  /* height: 129px; */
}

.nav_container {
  width: 100%;
  float: left;
  position: relative;
  z-index: 607;
  height: 70px;
  background-color: #000;
  border-bottom: 2px solid rgba(188, 193, 197, 0.35);
}

.row_nav {
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 37px;
  max-width: 1240px;
  width: 100%;
  height: 100%;
}

.logo {
  position: relative;
  float: left;
  height: auto;
  margin: 0 20px 0 0;
  font-size: 35px;
  color: #f48c00;
}

.logo img {
  float: left;
  position: relative;
  width: 55%;
}

.logo > a:first-of-type > img {
  display: block;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.title_img {
  width: 55%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

.second_nav {
  width: 100%;
  float: left;
  z-index: 606;
  position: relative;
  height: 52px;
  background-color: #eceef0;
}

.first_section {
  position: relative;
  display: block;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 560px;
}

.first_section_img {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(
      to right,
      black 0%,
      #181818 28%,
      transparent 100%
    ),
    url(assets/images/the_witcher_main.jpg);
  background-size: 100%;
  width: 100%;
  height: 585px;
  background-repeat: no-repeat;
}

.content_container {
  position: relative;
  z-index: 5;
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 37px;
  max-width: 1240px;
  width: 100%;
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  color: #fff;
}

.left_c {
  width: 50%;
  float: left;
  padding: 0 1%;
  padding-top: 100px;
}

.left_c h1,
.left_c h2 {
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
}

.left_c h3,
.left_c p {
  font-family: "DiodrumSemiRegular", museo700, Verdana, sans-serif;

  font-weight: normal;
}

.main_container {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100%;
  height: auto !important;
}

.main_text {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  display: none;
}

.second_text {
  color: #f48c00;
  margin: 0 0 28px 0;
  font-size: 20px;
  margin: 30px 0 28px 0;
}

.first_cont_text {
  font-size: 18px;
  margin: 0 0 28px 0;
  font-weight: 400;
}

.first_content_ul {
  margin: 0 0 18px 0px;
  font-size: 16px;
}

.button_orange {
  display: block;
  overflow-x: hidden;
  margin: 10px 0;
  box-shadow: none;
  border: 0;
  border-radius: 6px;
  padding: 10px 15px;
  width: auto;
  box-sizing: border-box;
  min-width: 40px;
  min-height: 40px;
  line-height: unset;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #f48c00;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
}

.button_orange:visited {
  position: relative;
  z-index: 0;
  border-radius: 6px;
  transition: background 0.2s linear;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #fff !important;
  background-color: #f48c00;
}

.text_section {
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 37px;
  max-width: 1240px;
  width: 100%;
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  padding-top: 50px;
}

.center {
  position: relative;
  width: 66.66666666666666%;
  margin: 0 16.66666666666667%;
  float: left;
  padding: 0 1%;
}

.text_s_cont h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 8px 0;
  word-wrap: break-word;
}

.text_s_cont h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  font-family: "DiodrumRegular", museo700, Verdana, sans-serif;
  font-weight: 400;
}

.text_s_cont p {
  line-height: 160%;
  margin: 0 0 45px;
  font-family: "OpenSansRegular", Verdana, sans-serif;
  font-size: 16px;
}

.summary_text {
  font-size: 18px;
  width: 100%;
  padding: 0 !important;
  list-style: none;
  font-weight: 700;
}

.summary_text span {
  color: #f48c00;
  font-weight: 700;
  padding-right: 10px;
}

.summary_text:hover {
  color: #f48c00;
}

.parsys_container {
  padding-bottom: 30px;
}

.parsys_item {
  background-color: transparent;
  background-image: none;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #c9cdd1;
  padding: 5px 0 5px;
  position: relative;
  clear: both;
  width: 88%;
  cursor: pointer;
  font-family: "museo700", Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.parsys_item p {
  margin: 0 0 18px 0;
  padding: 17px 50px 16px 0;
  font-family: Verdana, sans-serif;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::-moz-list-bullet {
  list-style-type: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: inline-block;
  padding: 0.3em 1.5em 0.3em 0.6em;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

.summary_text span.arrow {
  display: inline-block;
  float: right;
  transform: rotateZ(90deg);
  color: #707375;
  font-size: 35px;
  font-weight: 400;
  padding: 5px;
}

details[open] .arrow {
  transform: rotateZ(-90deg);
}

summary ~ * {
  padding: 0 1em 0 1em;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

details {
  display: block;
  margin-bottom: 0.5rem;
}

details summary ~ p {
  overflow: hidden;
}

details[open] summary ~ p {
  animation: sweep2 2s ease-in-out;
}

@keyframes sweep2 {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 2000px;
  }
}

.blockquote_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  float: left;
  clear: both;
  width: 102%;
  margin-top: 30px;
  /* margin: 0 -1%; */
}

.blockquote_el {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex-grow: 4;
  padding-left: 20px;
  border-left: 3px solid #f48c00;
}

.blockquote_el blockquote {
  margin: 0;
  font-style: italic;
  font-family: "DiodrumRegular", museo700, Verdana, sans-serif;
  padding-right: 23%;
}

.blockquote_el img {
  width: 62%;
}

.how_work {
  background-color: #f6f7f8;
  position: relative;
  display: block;
  width: 100%;
  clear: left;
}

.shop_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: none;
}

.s_content {
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0 37px;
  padding-top: 50px;
  padding-bottom: 40px;
  max-width: 1240px;
  width: 100%;
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
}

.pac_section {
  position: relative;
  display: block;
  margin-top: 50px;
  overflow: hidden;
  width: 66%;
  margin: 0 auto;
}

.type_p {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 40px 0;
}

.type_p > div {
  border: 1px solid #e4e6e8;
  padding: 18px;
}

.shop_item h4 {
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 5px 0;
  text-align: center;
}

.shop_item p {
  text-align: center;
  margin: 0 0 18px;
  font-family: "OpenSansRegular", Verdana, sans-serif;
  font-size: 16px;
  line-height: 160%;
}

.img_s_c {
  width: 245px;
  height: 164px;
}

.s_content h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.s_content h3 {
  font-size: 18px;
  text-align: center;
}

.type_p div h3 {
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  font-weight: 700;
  margin: 0 0 0 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.type_list {
  margin: 0 0 18px 20px;
  line-height: 140%;
}

.type_list li {
  margin: 0 0 6px 0;
  line-height: 140%;
  font-size: 14px;
  font-family: "OpenSansRegular", Verdana, sans-serif;
}

.type_list li:before {
  font-family: ziggonl;
  position: relative;
  color: #f48c00;
  left: -20px;
  top: 0;
  width: 0;
  display: inline-block;
  content: "v";
  font-size: 12px;
}

.img_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
}

.tab_section {
  position: relative;
  padding: 16px;
  clear: both;
}

.tab_container .button_container {
  width: 75%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

.tab_content_container {
  position: relative;
  background-color: #dfe1e3;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ffa500;
  background-size: 100% 100%;
  clear: both;
  background-repeat: no-repeat;
  padding: 0 1px;
  background-image: -moz-linear-gradient(center top, #c9cdd1 0, #fff 180px);
  background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0%, #c9cdd1),
    color-stop(180px, #fff)
  );
  background-image: -webkit-linear-gradient(
    center top,
    #000000 0,
    #ffa500 180px
  );
  background-image: -o-linear-gradient(center top, #000000 0, #ffa500 180px);
  background-image: -ms-linear-gradient(center top, #000000 0, #ffa500 180px);
  background-image: linear-gradient(to bottom, #000000 0, #ffa500 180px);
}

.tab_container .button_container button {
  float: left;
  outline: none;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  min-height: 65px;
  cursor: pointer;
  padding: 0 20px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  position: relative;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #c9cdd1;
  height: 65px;
  margin-top: 16px;
  background-color: #100f0f;
  text-align: center;
  font-family: "museo500", Verdana, sans-serif;
  font-size: 16px;
  margin-right: 10px;
}

.button_container .tab_button.current_tab {
  min-height: 81px;
  padding: 0 20px;
  color: #f48c00;
  background-color: #100f0f;
}

.button_container .tab_button.current_tab:hover {
  color: #fcfcfc;
}

.tab_content {
  display: none;
}

.inner_tab_c {
  background: #0c0b0b;
  padding: 20px;
  margin: 0;
}

.tab_content_container .tab_content.current_panel {
  display: block;
}

.tab_content h3 {
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.tab_content p {
  color: #d1d5d5;
  line-height: 160%;
  font-size: 16px;
  margin: 0 0 18px;
  font-family: "OpenSansRegular", Verdana, sans-serif;
}

.contact_section .contact_container .contact_card img {
  width: 80px;
  height: 80px;
}

.contact_section {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #f6f7f8;
}

.contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  clear: both;
  margin: 0 auto;
  padding: 20px 37px 60px 37px;
  max-width: 1240px;
  width: 100%;
}

.contact_card {
  position: relative;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e4e6e8;
  padding: 18px;
}

.contact_section h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 19px 0;
}

.contact_section p {
  font-family: "OpenSansRegular", Verdana, sans-serif;
  text-align: center;
  margin: 0 0 16px 0;
}

.contact_card h3 {
  font-size: 20px;
}

.tel {
  text-align: center;
  font-family: "DiodrumSemiBold", Verdana, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.contact_card .small {
  color: #262727;
  font-size: 10px;
  line-height: 120%;
  margin: 0 0 2px 0;
  text-align: center;
}

.contact_img {
  position: relative;
  left: 50%;
  display: inline-block;
}

.contact_img img {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.rate_section {
  padding-top: 30px;
}

.rate_section .rate_container {
  word-wrap: break-word;
  display: flex;
  align-items: flex-end;
}

.rate_section .rate_container img {
  height: 15px;
  width: auto;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.row {
  clear: both;
  margin: 0 auto;
  padding: 0 37px;
  max-width: 1240px;
  width: 100%;
}

.nav_footer_section {
  width: 100%;
  position: relative;
  text-align: center;
  color: grey;
  line-height: 50px;
  clear: both;
  min-height: 50px;
  background-color: #262727;
}

.nav_footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #969a9e;
  text-decoration: none;
  padding-top: 30px;
}

.fab {
  color: #bcc1c5;
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 0 0 0 10px;
}

.fab:hover {
  color: #f48c00;
}

.social_icons {
  min-height: 60px;
  padding-top: 20px;
  background-color: #fff;
}

.social_icons_container {
  text-align: right;
  padding-right: 20px;
}

.nav_f_column_el h3 {
  color: #f48c00;
  font-weight: 700;
}

.nav_f_column_el .pakketten_el h4 {
  color: #969a9e;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
  font-family: Verdana, sans-serif;
  margin: 0.53em 0;
}

.nav_f_column_el .pakketten_el h4:hover {
  color: #f48c00;
}

.nav_f_column_el .pakketten_el ul > li {
  font-size: 11px;
}

.nav_f_column_el .pakketten_el ul > li:hover {
  color: #f48c00;
}

.gap {
  margin-bottom: 30px;
}

.gap20 {
  margin-bottom: 20px;
}

.gap10 {
  margin-bottom: 10px;
}

.footer_bottom_section {
  width: 100%;
  clear: both;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  height: 40px;
  padding-top: 12px;
  background-color: #fff;
  flex: 11px;
}

.foot_b_c {
  display: flex;
  align-items: center;
}

.foot_b_c ul > li {
  margin: 0 5px 0 0;
  color: #707375;
  font-size: 11px;
  padding: 0 5px;
}

.foot_b_c ul {
  display: flex;
  padding: 0 20px;
}

figcaption {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #d3d3d3;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  background-color: #100f0f;
  position: relative;
  border-bottom: 1px solid #d7dadc;
}

figure {
  border: 1px solid #d7dadc;
  border-width: 0 1px 0px 0;
  overflow: hidden;
}

.tab_img img {
  width: 230px;
  height: 195px;
  object-fit: cover;
}

figure img:hover {
  transform: scale(1.2);
}

.r_nav_img {
  float: right;
  max-width: 100%;
  height: auto;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.fas {
  width: 25px;
  height: 39px;
  font-size: 20px;
}

.second_list .sec_item .home_icon {
  vertical-align: bottom;
}

.contact_btn {
  display: block;
  overflow-x: hidden;
  border: 0;
  padding: 10px 15px;
  width: auto;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: "DiodrumSemiBold", museo700, Verdana, sans-serif;
  font-weight: 600;
  background-image: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
  color: #262727;
  background-color: #d7dadc;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 10px auto;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  font-size: 18px;
  line-height: 1.8;
}

.nav_img_m {
  display: none;
}

.first_content_ul > li > span {
  color: #58a500;
  font-weight: 700;
  padding-right: 10px;
}
.nav_menu_s,
.footer_s {
  display: none;
}

.nav_menu_s img,
.footer_s img {
  width: 100%;
}
